<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ServidorPrueba</servlet-name>
        <servlet-class>servidor.ServidorPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoCliente</servlet-name>
        <servlet-class>servidor.NuevoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoRepresentante</servlet-name>
        <servlet-class>servidor.NuevoRepresentante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarRepresentante</servlet-name>
        <servlet-class>servidor.AgregarRepresentante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPedido</servlet-name>
        <servlet-class>servidor.AgregarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servidor.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servidor.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCliente</servlet-name>
        <servlet-class>servidor.AgregarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHTML</servlet-name>
        <servlet-class>servidor.ServletHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servidor.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Router</servlet-name>
        <servlet-class>servidor.Router</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServidorPrueba</servlet-name>
        <url-pattern>/ServidorPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoCliente</servlet-name>
        <url-pattern>/NuevoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoRepresentante</servlet-name>
        <url-pattern>/nuevo-representante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarRepresentante</servlet-name>
        <url-pattern>/agregar-representante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPedido</servlet-name>
        <url-pattern>/agregar-pedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCliente</servlet-name>
        <url-pattern>/agregar-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHTML</servlet-name>
        <url-pattern>/ServletHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Router</servlet-name>
        <url-pattern>/router</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
